<!DOCTYPE html>

{% load static %}

<html>
<head>
   <title>Sinar Perak</title>
   <link rel="icon" href="https://image.flaticon.com/icons/png/512/102/102366.png">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <script src="https://apis.google.com/js/platform.js" async defer></script>
   <meta name="google-signin-client_id" content="1024899566930-alfbqg5q4v76bsshslfq5ecat52cagj0.apps.googleusercontent.com">
   <style>
      .col-8{
         margin-bottom: 0;
         overflow: hidden;
         padding: 0;
         margin: 0;
         background-size: cover;
         width: 100%;
      }
      .img-fluid {
         width: 100%;
         height: auto;
         background-size: cover;
      }

      .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          height: auto;
          background-color: black;
          color: white;
          text-align: center;
      }
      .col-4{
         background-color: #98ADA4;
      }

      .tombol{
         text-align: center;
         padding-top: 50%;
      }

      h1{
         font-size: 2.5rem;
         font-color:black;
      }




   </style>

</head>
<body>
   <div class="container-fluid">
  <div class="row">
    <div class="col-8"> 
      <img src="{%static 'images/landpic.jpg' %}"" class="img-fluid">
    </div>
    <div class="col-4">
         <img src="{%static 'images/sinar.png' %}" class="img-responsive" style="width: 100%">
      <div>
         <img src="{%static 'images/perak.png' %}" class="img-responsive" style="width: 100%">
      </div>
         {% if user.is_authenticated %}
             <p class="display-4">Hai, {{ user.first_name }} {{ user.last_name }}</p>
             <a href="{% url 'logout' %}"><button type="button" class="btn btn-alert">Logout</button></a>
             <a href="/home">Menuju halaman utama</a>
	      {% else %}
             <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-dark" id="button">Login with google</button></a>     
             <br>
             <a href="/home">Atau langsung lihat program yang kami miliki</a>
         {% endif %}
         
    </div>
   </div>
  </div>
</div>

</body>
</html>