<head>
    {%load static%}
    <title>Sinar Perak</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "registerpage.css" %}">
</head>

<body id = 'main'>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navigasi">
        <div class="container">
            <p class="navbar-brand" id="merek">Sinar Perak</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'homepage:home' %}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='container'>
        <div id='pagetitle'>Form Pendaftaran</div>
        <form id="form" method="POST" action="{% url 'registerpage:registerpage' %}">
            {%csrf_token%}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <strong>{{registform.name.label_tag}}</strong>
                    {{registform.name}}
                </div>
                <div class="form-group col-md-6">
                    <strong>{{registform.birthdate.label_tag}}</strong>
                    {{registform.birthdate}}
                </div>
            </div>
            <div class="form-group">
                <strong>{{registform.email.label_tag}}</strong>
                {{registform.email}}
                {{errormessage}}
            </div>
            <div class="form-group">
                <strong>{{registform.password.label_tag}}</strong>
                {{registform.password}}
            </div>
        </form>
        <button type="submit" , class="btn btn-dark" , form="form" , value="Submit">Daftar</button>
    </div>
</body>