.textformat {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

#navigasi {
    background-color: #110E0E;
}

#merek {
    color: #B5B173;
}

#merek:hover {
    background-color: white;
}