#main {
    background-image: linear-gradient(#7D8B5A, #B5B173);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    height: 100vh;
}

#navigasi {
    background-color: #110E0E;
}

#gambar {
    border: 1px solid black;
    border-radius: 0.25rem
}

#merek {
    font-size: 24px;
    color: #B5B173;
}

.navbar-text {
    font-size: 18px;
    color: #FFF7F7;
}

.navbar-text:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#title {
    text-decoration: underline;
    font-size: 36px;
}

.btn-default {
    background-color: white;
    border-color: white;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.btn-default:hover {
    background-color: #dee2e6;
    border-color: #dee2e6;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.btn-default:active {
    background-color: #dee2e6;
    border-color: #dee2e6;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
}

.daftar_donasi {
    background-color: white;
    height: 100vh;
}