<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Daftar Donasi</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

</head>
<body id="main">
  <nav class="navbar navbar-expand-lg navbar-dark" id="navigasi">
      <div class="container">
          <p class="navbar-brand" id="merek">Sinar Perak</p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link navbar-text" href="/home/" id="home">Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  
  <div id="daftar_donasi" style="height: 100vh; text-align:center">
    <br>
    <h2>Hello, {{ user.first_name }} {{ user.last_name }}</h2>
    <div id="total_donasi"></div>
    <div id="table_donasi"></div>
    
  </div> 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="{% static 'js/daftar_donasi.js' %}"></script>
</body>