{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Program Donasi</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

</head>

<body id="main">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark" id="navigasi">
      <div class="container">
          <p class="navbar-brand" id="merek">Sinar Perak</p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link navbar-text" href="/home/" id="home">Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <br>
        <!-- Deskripsi Program -->
        <div class="mb-6">
          <img class="card-img-top" id="gambar" src={{program.url_image}} alt="gambar1">
          <div class="card-body">
            <h2 class="card-title" id="title">{{ program.nama }}</h2>
            <br>
            <h5 class="card-title">Target Pencapaian : Rp.{{ program.target }}</h5>
            <h5 class="card-title">Terkumpul : Rp.{{ program.terkumpul }}</h5>
            <br>
            <p class="card-text">{{ program.desc }}</p>
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-md-6">
        <br>
        <!-- Form Donasi -->
        <div class="card my-6">
          <div class="card-body">
            <form id="form" method="POST" action="{% url 'programs:donation' id=program.id %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ donation_form }}
                    <p>Centang untuk sembunyikan nama anda</p>
                </div>
            </form>
          </div>
        </div>

        <br>
        <div class="button">
          <button type="submit" class="btn btn-default" form="form" value="Submit">
            Saya mau ikut berdonasi !
          </button>
        </div>
        <br>

        <!-- Daftar Donatur -->
        <div class="card my-6">
          <h5 class="card-header">Daftar Donatur ({{count}} orang)</h5>
          <div class="card-body">
            <table class="table">
              <tbody>
                {% for donatur in donaturs %}
                <tr>
                  <td> {{donatur.nama}} </td>
                  <td> Rp.{{donatur.donasi}} </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <br>
      </div>

    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</body>

</html> 